.lvmaindiv {
    margin-top : 30px;
}

.imagery{
    text-align : center;
    display : block;
    margin-left: auto;
    margin-right: auto;
    padding : 5px;
}

.svg-graph-component{
    background-color:#c7ccce;

