div.lvmaindiv
  h1 About
  br
  h2 LongView Server
  li MEAN stack (MongoDB, Express, Angular and Node.js)
  li Socket.IO

  h2 LongView Remote Unit
  li Node.js app
  li Node-Serialport for communicating with the Arduino via Serialport
  li fswebcam for taking images with a webcam and saving them to files
  li Socket.IO

  h2 LongView Sensor Unit
  li Arduino UNO microcontroller
  li Adafruit BMP085 Temperature and Air Pressure Sensor
  li Hobby micro servo for panning the webcam
  br
  
  p  Cannot get remote images? No sensor data? The remote unit is likely not turned on, just contact the owner! ;)
  
  button.btn.btn-warning(ng-click="daviewClk()") Continue
